html {
font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    padding: 10px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: auto auto;
    border-bottom: 1px solid black;
}

.text-right {
    text-align: right;
}

.m1 {
    margin: 20px;
    margin-top: 50px;
}

.list1 {
    color: grey;
}