html {
font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

.navbar {
    padding: 10px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    border-bottom: 1px solid black;
}

.experience {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-right {
    text-align: right;
}

.text-mid {
    text-align: center;
}

.m1 {
    margin: 20px;
    margin-top: 50px;
}

.bio {
    font-size: 20px;
}